<div style="padding: 20px 50px;background-color: #F4F4F4;">
    <section class="register-photo">
        <div class="form-container" style="width: 50%;height: auto;">
            <form id="confirmation-form" method="post">
                <div class="row">
                    <div class="col-xxl-12">
                        <input id="confirmation-token" type="text" style="display: none">
                        <h2 id="confirmation-message" class="text-center" style="font-family: Lato, sans-serif;">Your account was successfully confirmed !<br><br>You will be logged in a few seconds...</h2>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
