<div style="padding: 20px 50px;background-color: #F4F4F4;">
    <section class="register-photo">
        <div class="form-container" style="width: auto;height: auto;">
            <form id="Forgot_Form" method="POST" onsubmit="doForgot(); return false">
                <div class="row">
                    <div class="col-xxl-12">
                        <h2 class="text-center" style="font-family: Lato, sans-serif;"><strong>Forgot password ?</strong></h2>
                    </div>
                    <div class="col-xxl-12 offset-xxl-0 mb-2"><label class="form-label" for="forgot-email">Please insert your e-mail.<br></label><input class="form-control create_new_border" type="email" id="forgot-email" name="email" required></div>
                    <div class="col mt-2">
                        <div id="Forgot-Alert" class="alert alert-danger" role="alert" style="display: none;"><span>This<strong>&nbsp;e-mail</strong>&nbsp;doesn't exist.</span></div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-md-6 offset-lg-6 offset-xl-6 offset-xxl-6 mt-2">
                        <div class="mb-3"><button id="ForgotButton" class="btn btn-primary d-block w-100" type="submit" style="margin-top: 0;background: var(--bs-blue);">Send</button></div>
                    </div>
                </div>
            </form>
        </div>
    </section>
