<div class="recommended_div">
    <div style="padding: 0 50px;">
        <div class="row">
            <div class="col-lg-5 col-xl-5 col-xxl-4" style="margin-top: 10px;">
                <div class="view_div_block">
                    <div class="row">
                        <div id="profile-publications-name" class="col">
                        </div>
                    </div>
                    <div class="row">
                        <div id="profile-publications-date" class="col-12 col-sm-7 col-md-5 col-lg-9 col-xl-7 col-xxl-8 offset-0 offset-sm-5 offset-md-7 offset-lg-3 offset-xl-5 offset-xxl-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-10 col-xxl-10 offset-xl-1 offset-xxl-1 mt-2"><a class="btn btn-primary" type="button" style="width: 100%;" href="#profile">Settings</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-7 col-xxl-8 offset-xxl-0" style="margin-top: 10px;">
                <div class="row">
                    <div class="col">
                        <div class="view_div_block">
                            <div class="row">
                                <div class="col-xl-12 col-xxl-12 offset-xxl-0">
                                    <h1 id="profile-publication-text" style="font-family: Lato, sans-serif;"><strong>Your publications</strong></h1>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div id="profile-publications-results" class="search_results_div row">
                </div>
                <div style="text-align: center;">
                    <div id="profile-publications-page" class="pages" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
