<link rel="stylesheet" href="assets/css/profile-view.css">
<link rel="stylesheet" href="assets/css/view.css">
<div class="recommended_div">
    <div style="padding: 0 50px;">
        <div class="row">
            <div class="col-lg-10 col-xl-8 col-xxl-8 offset-lg-1 offset-xl-2 offset-xxl-2" style="margin-top: 10px;">
                <div class="view_div_block">
                    <div class="row">
                        <div class="col-xl-12 col-xxl-12 offset-xxl-0" style="text-align: center;">
                            <h2 id="profile-name" style="font-family: Lato, sans-serif;"></h2>
                        </div>
                        <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-xxl-0 d-none d-md-block" style="text-align: right;">
                            <h5 style="font-family: Lato, sans-serif;color: black;">Status:&nbsp;<span class="profile-status"></span></h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-xxl-0 d-md-none d-lg-none d-xl-none">
                            <h5 style="font-family: Lato, sans-serif;color: black;">Status:&nbsp;<span class="profile-status"></span></h5>
                        </div>
                        <div  class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-xxl-0" style="text-align: left;">
                            <h5 style="text-align: left;font-family: Lato, sans-serif;">Role:&nbsp;<span id="profile-admin"></span></h5>
                        </div>
                        <div class="col-xl-12 col-xxl-12 offset-xxl-0" style="text-align: left;padding-right: 0;">
                            <h5 style="text-align: center;font-family: Lato, sans-serif;margin-left: -20px;">Contact Info:</h5>
                        </div>
                        <div class="col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-xxl-0 d-none d-md-block" style="text-align: right;"><span class="profile-email" style="color: black;">E-mail: example@gmail.com&nbsp;</span></div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-xxl-0 d-md-none d-lg-none d-xl-none" style="text-align: left;"><span class="profile-email" style="color: black;">E-mail: example@gmail.com&nbsp;</span></div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-0 offset-sm-0 offset-xxl-0" style="text-align: left;"><span id="profile-telephone" style="color: black;">Telephone: +1 555 123456&nbsp;</span></div>
                        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-xl-0 offset-xxl-0 mt-4 admin"><button id="profile-view-unblock" class="btn btn-success d-block w-100" type="button" onclick="ProfileView.doBlock('#profile-view-unblock', 'ACTIVE');">Unblock</button></div>
                        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-xl-0 offset-xxl-0 mt-4 admin"><button class="btn btn-danger d-block w-100" type="button" data-bs-toggle="modal" data-bs-target="#BlockAccountModal">Block</button>
                            <div class="modal fade" role="dialog" tabindex="-1" id="BlockAccountModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Block account</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 signin_column">
                                                            <h4 style="font-family: Lato, sans-serif;">Are you sure you want to block this account ?</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xxl-12 signin_column"><button class="btn btn-danger signin_button signin_column" type="button" style="height: 37px;" onclick="ProfileView.doBlock('#profile-view-block', 'BLOCKED');" id="profile-view-block">YES</button></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-xl-8 col-xxl-8 offset-lg-1 offset-xl-2 offset-xxl-2" style="margin-top: 10px;">
                <div class="row">
                    <div class="col">
                        <div class="profile_view_div_block">
                            <div class="row">
                                <div class="col-xl-12 col-xxl-12 offset-xxl-0" style="text-align: center;">
                                    <h2 id="user-publications-text" style="font-family: Lato, sans-serif;">Publications</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="search_results_div">
                            <div id="user-publications" class="row">
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <div id="user-publications-page" class="pages" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
