<div style="padding: 20px 50px;background-color: #F4F4F4;">
    <section class="register-photo">
        <div class="form-container" style="width: 50%;height: auto;">
            <form method="post">
                <div class="row">
                    <div class="col-xxl-12">
                        <h2 class="text-center" style="font-family: Lato, sans-serif;"><br>Your password was successfully reset.<br><br></h2>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
